# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular build
dist/
out-tsc/
.angular/
coverage/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Environment
.env
