<nav class="left-nav">
  <ul>
      <li>
    <a placement="end">
      <span
        [innerHTML]="leftNavIcon.Dashboard"
        (click)="navigatePreDashboard()"
        [class.active]="activeIcon === 'Dashboard'"
         matTooltip="Asset Inventory"     
        >&nbsp;</span>
    </a>
  </li>
  <li>
    <a placement="end">
      <span
        [innerHTML]="leftNavIcon.Catalogue"
        (click)="navigateToProjects()"
        [class.active]="activeIcon === 'Catalogue'"
          matTooltip="Project Tracking"     
        matTooltipPosition="right"   
        >&nbsp;</span>
    </a>
  </li>
   <li>
  <a ngbTooltip="Testcase" routerLink="/tester" routerLinkActive="active" matTooltip="Testcase Management" matTooltipPosition="right">
  <img src="assets/images/icons/testcase-logo3.svg" alt="Testcase" class="testcase-logo" />
</a>
</li>
<li *ngIf="userRole && ['Jayanth Purushottam', 'Adarsha Y H'].includes(userRole)">
    <a placement="end">
      <span
        [innerHTML]="leftNavIcon.Report"
        (click)="navigateTODashboard()"
        [class.active]="activeIcon === 'Report'"
          matTooltip="Dashboard"     
        matTooltipPosition="right"   
        >&nbsp;</span>
    </a>
    </li>
  </ul>
  <ul class="lower-nav">
    <li class="dropdown">
      <a placement="end" ngbTooltip="Profile" (click)="toggleUserNav()" [class.active]="showUserNav" #userNavLink>
        <span [innerHTML]="leftNavIcon.User"   matTooltip="Profile"     
        matTooltipPosition="right"   >&nbsp;</span>
      </a>
      @if(showUserNav) {
        <ul #userNavTemplate>
          <li>
            <a>
              <span [innerHTML]="leftNavIcon.User2">&nbsp;</span>
               {{userRole}}
            </a>
          </li>  
           <li>
                 <a (click)="switchLanguage($event)"> 
                    <span [innerHTML]="leftNavIcon.English">&nbsp;</span>
                    English
                  </a>
                </li>
          <li>
            <a (click)="logout()">
              <span [innerHTML]="leftNavIcon.Logout">&nbsp;</span>
              Logout
            </a>
          </li>
        </ul>
      }
    </li>
    <li class="datalyzer">
      <a placement="end" ngbTooltip="Datalyzer">  
        <img src="../../../../assets/images/datalyzer-icon.svg" />
      </a>
    </li>
  </ul>
</nav>
