

 <div class="teams-tabs">
  <button class="tab-button" [class.active]="activeTab === 'wfh'" (click)="activeTab = 'wfh'">
    Work From Home
  </button>
 
</div>

<div *ngIf="activeTab === 'wfh'" class="wfh-fullscreen-container">
  <div class="teams-tabs-container full-screen">
    <div class="tab-content full-screen-content">
      <div class="ac-header">WFH Logger</div>
      <div class="ac-current-time">{{ currentTime }}</div>

      <div class="ac-body">
        <p>User: {{ userId }}</p>

        <!-- Session Info -->
        <div *ngIf="sessionActive || logoutClicked" class="session-div">
          <p>Login Time: {{ loginTime }}</p>
          <p *ngIf="sessionActive">Current Session: {{ sessionDuration }}</p>
          <p *ngIf="logoutClicked">Total Session Time: {{ sessionDuration }}</p>
          <p *ngIf="logoutClicked">Logout Time: {{ logoutTime }}</p>
        </div>
      </div>

      <div class="ac-actions">
        <button class="ac-button login" *ngIf="!sessionActive && !logoutClicked" (click)="logAction('Login')">
          Login
        </button>
        <button class="ac-button logout" *ngIf="sessionActive" (click)="logAction('Logout')">
          Logout
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="activeTab === 'leave'">
  <app-leave></app-leave>
</div>
